<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<% if notice %>
	<%= notice %>
<% end %>

	<form action="/sessions" method="post">
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<label for="email">Email</label>
	<input id="email" type="email" name="user[email]">
	<label for="password">Password</label>
	<input id="password" type="password" name="user[password]">	
	<input type="submit" value="Log In">

	</form>

</body>
</html>