<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
	<form action="/users/<%=current_user.id%>" method="post">
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<input type='hidden' name='_method' value='patch'>
	<label for="email">Email</label>
	<input id="email" type="email" name="user[email]">
	<label for="name">Name</label>
	<input id="name" type="name" name="user[name]">	
	<input type="submit" value="Update">
	</form>

	<form action='/users/<%=current_user.id%>' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<input type='hidden' name='_method' value='delete'>
  	<input type='submit' value='Delete Account'>
	</form>

</body>
</html>